ion-content {
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 16px;
  --padding-bottom: 39px;
}
// cancel  keyboard-offset effect for ios
ion-content::part(scroll) {
  padding-bottom: 39px;
}

ion-toolbar {
  --padding-start: 24px;
  --padding-end: 24px;
}
ion-grid,
ion-col {
  padding: 0;
}
ion-app.ion-page {
  margin-top: 0;
}
@media screen and (min-width: 375px) {
  ion-app:not(.admin-app) {
    width: 375px;
    max-width: 375px;
    margin: auto;
    min-height: 100%;
    max-height: 880px;
  }
  ion-app.admin-app {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }
}

bc-select,
bc-datepicker {
  ion-input input {
    user-select: none;
    cursor: pointer;
  }
}
